<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/afiliadoEstiloSesion.css">
    <title>Registro de usuarios</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="index.html" class="contenedor__a-afiliado">Cerrar sesion</a></li>
        </ul>
    </header>
    <section class="contenedor__seccion">
        <h2>Registro de Usiarios</h2>
        <a href="registroAfiliadoB.html" class="contenedor__a-afiliado"><p class="p-Admin">Registrar un afiliado o beneficiario</p></a>
        <a href="registroMedicos.html" class="contenedor__a-medico"><p class="p-Admin">Registrar un medico</p></a>
    </section>
    <footer>
        <p>EPS</p>
    </footer>
</body>
</html>