<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/afiliadoEstiloSesion.css">
    <title>Sesion médico</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a href="medicoSesion.html"><b id="nombreMedico">Nombre médico</b></a></li>
                <li><a href="medicoInfo.html"><b>INFROMACION MEDICO</b></a></li>
                <li><a href="index.html"><b>CERRAR SESION</b></a></li>
            </ul>
        </nav>
    </header>
    <section class="section__container">
        <a href="medicoAgenda.html"><div class="section__div">
            <figure>
                <img src="../Imagenes/agenda.png" alt="Agenda">
            </figure>
            <p>Consultar agenda</p>
        </div></a>
    </section>
    <footer>
        EPS
    </footer>
    <script src="../JavaScript/logicaMedico.js"></script>
</body>
</html>