<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/afiliadoEstilo.css">
    <title>Datos personales</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li ><a href="medicoSesion.html"><b id="nombreMedico">Nombre médico</b></a></li>
                <li><a href="index.html"><b>CERRAR SESION</b></a></li>
            </ul>
        </nav>
    </header>
    <section class="section__container">
        <h2>DATOS PERSONALES</h2>
        <h3>NOMBRE</h3>
        <p id="nombre"></p>
        <h3>TIPO DE DOCUMENTO</h3>
        <p id="tipoDoc"></p>
        <h3>NUMERO DE DOCUMENTO</h3>
        <p id="numDoc"></p>
        <h3>FECHA DE NACIMIENTO</h3>
        <p id="fechaNacimiento"></p>
        <h3>SEXO</h3>
        <p id="sexo"></p>
        <h3>TELEFONO DE CONTACTO</h3>
        <p id="telefono"></p>
        <h3>CORREO ELECTRONICO</h3>
        <p id="correo"></p>
        <h2>DATOS PROFESIONALES</h2>
        <h3>ESPECIALIZACION</h3>
        <p id="especialidad"></p>
        <h3>SEDE ASIGNADA</h3>
        <p id="sede"></p>
        <h3>DIRECCION SEDE</h3>
        <p id="dirSede"></p>
        <h3>TELEFONO SEDE</h3>
        <p id="telSede"></p>
        <h3>IDENTIFICADOR CONSULTORIO</h3>
        <p id="consultorio"></p>
    </section>
    <footer>
        EPS
    </footer>
    <script src="../JavaScript/logicaMedico.js"></script>
</body>
</html>