<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/afiliadoEstiloSesion.css">
    <title>Registro afiliado o beneficiario</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="admin.html">INICIO</a></li>
        </ul>
    </header>
    <section class="contenedor__seccion">
        <h2>Registro Afiliado o Beneficiario.</h2>
        <form action="#" class="contenedor__seccion-formulario">
            <label for="" class="contenedor__seccion-formulario-label">Tipo de documento:</label>
            <select name="tipoDoc" class="contenedor__seccion-formulario-input">
                <option value="cedula de ciudadania">Cedula de ciudadania</option>
                <option value="tarjeta de identidad">Tarjeta de identidad</option>
                <option value="cedula de extranjeria">Cedula de extranjeria</option>
            </select>
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Numero de identificacion:</label>
            <input type="text" class="contenedor__seccion-formulario-input" required placeholder="1013680879">
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Nombre completo:</label>
            <input type="text" class="contenedor__seccion-formulario-input" required placeholder="jeasson suarez">
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Fecha de nacimiento:</label>
            <input type="date" class="contenedor__seccion-formulario-input" required>
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Sexo:</label>
            <select name="sexo">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>pt
            </select>
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Telefono de contacto:</label>
            <input type="text" class="contenedor__seccion-formulario-input">
            <br>
            <label for="" class="contenedor__seccion-formulario-label">Correo electronico</label>
            <input type="mail" class="contenedor__seccion-formulario-input">
            <br>
            <label for="tipoAfiliacion" class="contenedor__seccion-formulario-label">Tipo de afiliacion</label>
            <select name="tipoAfiliacion" id="tipoAfiliacion">
                <option value="cotizante">Cotizante</option>
                <option value="subsidiado">Subsidiado</option>
            </select>
            <br>
            <label for="categoria" class="contenedor__seccion-formulario-label">Categoria</label>
            <select name="categoria" id="categoria">
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
            </select>
            <br>
            <label for="Registrar"></label>
            <input type="submit" value="Registrar">
        </form>
    </section>
    <footer>
        <p>EPS Citas Medicas FBD</p>
        <p>Contacto: dfsdaf64@defsa.es</p>
    </footer>
</body>
</html>